*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
    font-size: 1.6rem;
    margin: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: gray;
    padding-bottom: 30px;
}

main {
    width: 1000px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#instructions {
    background-color: darkslategray;
    color: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#weather-display {
    min-height: 200px;
    background-color: rgb(24, 35, 83);
    color: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}